.main-body {
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.header-content {
    gap: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-content a {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 170px;
    border-radius: 35px;
    width: 300px;
    height: auto;

    font-weight: 500;
    font-size: 1.7rem;
    letter-spacing: 6px;
    text-decoration: none;
    color: rgb(236, 236, 236);

    border: 1px solid rgba(0, 172, 66, 0.5);
    background: linear-gradient(to bottom,
            rgba(24, 24, 24),
            rgba(0, 255, 0, 0.1),
            rgba(0, 82, 31, 0.7));

    transition: background-color 0.4s ease;
}


.header-content a:hover {
    font-size: 1.4rem;
    letter-spacing: 2px;
    border: 1px solid rgba(44, 221, 112, 0.814);
    background-color: rgba(86, 255, 40, 0.12)
}



.header-content>div:hover {
    background-color: rgba(0, 172, 66, 0.3);
}


.body-content {
    display: flex;
    flex-direction: column;
    gap: 200px;
    width: 100%;
    padding: 10px;
}

.body-cotent__wrapper {
    width: 60%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid rgba(60, 213, 0, 0.175);
    box-shadow: 0 10px 30px rgba(235, 255, 220, 0.08);
}

.body-cotent__wrapper.left {
    align-self: flex-start;
    text-align: left;
}

.body-cotent__wrapper.right {
    align-self: flex-end;
    text-align: right;
}

.content-item a {
    text-decoration: none;
}

.content-item div {
    display: inline-block;
    padding: 14px 26px;
    background: rgba(7, 112, 7, 0.489);

    border: 1px solid rgba(44, 221, 112, 0);

    color: white;
    letter-spacing: 2px;
    border-radius: 14px;
    font-weight: 300;
}

.left .content-item div {
    box-shadow: 8px 4px 20px rgba(0, 149, 5, 0.1);
}

.right .content-item div {
    box-shadow: -8px 4px 20px rgba(0, 149, 5, 0.1);
}

.content-item div:hover {
    transform: translateY(-4px);
    background: rgba(34, 167, 34, 0.489);
    border: 1px solid rgba(44, 221, 112, 0.814);
    box-shadow: 2px 2px 20px rgba(83, 191, 11, 0.186);
}


.content-text {
    font-weight: 400;
    color: #ffffff;
    font-size: 22px;
}

@media (max-width: 768px) {
    .header-content {
        gap: 30px;
        flex-direction: column;

    }

    .header-content a {
        min-height: 80px;
        border-radius: 35px;
        width: 250px;
        height: auto;

        font-weight: 500;
        font-size: 1.2rem;
    }

    .body-content {
        gap: 130px;
    }

    .body-cotent__wrapper {
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }

    .body-cotent__wrapper.right {
        flex-direction: column-reverse;
        align-self: flex-start;
        text-align: left;
    }
}