/* MAIN BODY END */
.main-body {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.main-body>div {
    background-color: rgb(30, 30, 30);
}

/* MAIN BODY END */


/* BODY CONTENT */
.body-content {
    display: flex;
    flex-direction: column;
}

.body-content>div {
    display: flex;
    flex-direction: column;

}

/* BODY CONTENT END */


/* = CONTENT-TITLE = */
.content-title {
    display: flex;
    align-items: center;
    padding: 5px 0px;
}

.content-title>p {
    width: fit-content;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    padding: 3px 7px;
    font-weight: 600;
    font-size: larger;
}

/* = CONTENT TITLE END = */



/* = CONTENT CONTAINER = */
.content-container {
    display: flex;
    flex-direction: column;
}



/* == CONTENT HEAD == */
.content-container>.content-head {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 10px 15px;
}


/* DIV DONUT */
.content-head>.div-donut {
    display: flex;
    flex-direction: row;
    width: 30%;
    gap: 15px;
    height: auto;
    align-items: center;
}

.div-donut>.div-canvasD {
    width: 30%;
    display: flex;
}

.div-donut>.donut-overview {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.donut-overview>.donut-checkbox {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.donut-checkbox>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.donut-overview>.donut-percent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.donut-percent>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* OVERVIEW LIST */
.content-head>.overview-list {
    width: 70%;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.overview-list>div {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.overview-list>div>.overview-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.overview-head>.overview-title {
    width: 100%;
    text-align: center;
}

.overview-head>.overview-head-select {
    width: fit-content;
    margin-right: 12px;
    display: flex;
    justify-content: flex-end;
}

.overview-list-content {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-height: 100px;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 4px;
    position: relative;
}

.overview-list-content::-webkit-scrollbar {
    width: 8px;
}

.overview-list-content::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 4px;
}

/* CONTENT LIST */
.key-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.key-container>p {
    border: 1px solid rgba(0, 128, 0, 0.5);
    padding: 5px;
    width: fit-content;
}

.key-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.key-item {
    padding: 10px;
    background-color: rgba(18, 18, 18, 0.5);
}

.key-item > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.p_title {
    font-size: large;
}

.list-note {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.4);
    font-style: italic;
}

/* CONTENT LIST END */

/* == CONTENT HEAD END == */



/* === === === */



/* == CONTENT BODY == */
.content-container>.content-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content-body>.content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.content-header>.content-header-select {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.content-header>div>.content-header-title {
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.content-header>.content-header-filter {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.content-header>.content-header-filter>.content-header-title {
    align-items: flex-end;
}

.content-header-filter>.content-header-title>select {
    width: fit-content;
}

/* CANVAS */
.content-body>.div-canvasL {
    min-height: 420px;
}

canvas {
    height: 100%;
    width: 100%;
}

.content-body>.content-bottom {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

/* SELECT BOTTOM */
.content-bottom>.select-bottom {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.select-bottom>div {
    align-items: center;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

/* CHECK BOX */
.content-bottom>.content-checkbox {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.content-checkbox>div {
    align-items: center;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.content-checkbox>div>div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* == CONTENT BODY END == */

/* = CONTENT CONTAINER END = */



/* CASH FLOW END */



/* LOG FLOW */
.main-body>.log {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px 10px;
}

.log>.log-header {
    display: flex;
    justify-content: center;
}

.log>.log-body {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.log-body>div {
    padding: 5px;
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.log-body__content>.log-title {
    text-align: center;
}

.log-body__content>.log-content {
    display: flex;
    flex-direction: column;
}

.log-content__header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    min-height: 30px;
}

.cashFlow-log_select {
    justify-content: flex-end !important;
}



/* LOG FLOW END */



/* ATTECHMENT */
.checkbox {
    transform: scale(1.4);
}

/* CASH FLOW */

.checkbox_green {
    accent-color: rgba(26, 139, 87, 1);
}

.p-green:hover {
    color: rgba(26, 139, 87, 0.8);
}

.checkbox_red {
    accent-color: rgba(172, 57, 43, 1);
}

.p-red:hover {
    color: rgba(172, 57, 43, 0.8);
}

.checkbox_blue {
    accent-color: rgba(27, 111, 214, 1);
}

.p-blue:hover {
    color: rgba(27, 111, 214, 0.8);
}

/* LIST FLOW */

.checkbox_orange {
    accent-color: rgba(211, 84, 0, 1);
}

.p-orange:hover {
    color: rgba(211, 84, 0, 0.8);
}

.checkbox_cyan {
    accent-color: rgba(22, 160, 133, 1);
}

.p-cyan:hover {
    color: rgba(22, 160, 133, 0.8);
}

.checkbox_gold {
    accent-color: rgba(168, 143, 42, 1);
}

.p-gold:hover {
    color: rgba(168, 143, 42, 0.8);
}

.checkbox_lavender {
    accent-color: rgba(142, 68, 173, 1);
}

.p-lavender:hover {
    color: rgba(142, 68, 173, 0.8);
}



.checkbox_crimson {
    accent-color: rgba(192, 57, 43, 1);
}


.checkbox_teal {
    accent-color: rgb(38, 143, 81);
}


.checkbox_yellow {
    accent-color: rgb(183, 143, 0);
}



.checkbox_indigo {
    accent-color: rgba(63, 81, 181, 1);
}


.color-green {
    color: rgb(1, 178, 1);
}

.color-green:hover {
    color: green;
}




.padding-wide {
    padding: 3px 8px;
}

.off {
    opacity: 0.5;
    pointer-events: none;
}

.off-permanent {
    opacity: 0.5;
    pointer-events: none;
}

/* ATTACHMENT END */







@media (max-width: 768px) {
    .body-content {
        gap: 15px;
    }

    /* PEMISAH HEAD DAN BODY CONTENT */
    .body-content>.content-container {
        gap: 60px;
        padding: 5px;
    }

    .content-container>.content-head {
        flex-direction: column;
        height: auto;
        gap: 40px;
        padding: 0px;
    }

    .content-head>.div-donut {
        flex-direction: column;
        width: 100%;
        gap: 30px;
        height: auto;
    }

    .div-donut>.div-canvasD {
        width: 50%;
    }

    .div-donut>.donut-overview {
        width: 100%;
    }

    .content-head>.overview-list {
        height: auto;
        width: 100%;
        flex-direction: column;
        gap: 40px;
    }

    .overview-list>div>.overview-list-content {
        padding: 0px;
    }

    .overview-head>.overview-head-select {
        margin-right: 0px;
    }

    .overview-list-content::-webkit-scrollbar {
        width: 4px;
    }

    .overview-list-content::-webkit-scrollbar-thumb {
        background-color: #bbb;
        border-radius: 2px;
    }

    .overview-list>div>.overview-head {
        justify-content: flex-start;
    }

    .overview-head>.overview-title {
        text-align: start;
    }

    .content-container>.content-body {
        padding: 0px;
    }

    .content-body>.content-header {
        flex-direction: column;
        justify-content: inherit;
        gap: 10px;
    }

    .content-body>.div-canvasL {
        min-height: 280px;
        border: 1px solid rgba(255, 255, 255, 0.05);
    }

    .content-body>.content-bottom {
        flex-direction: column;
    }

    .content-bottom>.select-bottom {
        gap: 0px;
        justify-content: space-between;
    }

    .content-bottom>.content-checkbox {
        flex-direction: row;
        justify-content: space-between;
    }

    .content-checkbox>div {
        align-items: flex-start;
    }

    .content-checkbox>div>div {
        flex-direction: column;
    }

    .log>.log-body {
        flex-direction: column;
    }
}