#main-container {
    margin: auto;
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.chart-container {
    padding: 10px;
    background-color: rgb(30, 30, 30);
    border: 1px solid rgba(17, 144, 36, 0.175);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.canvas {
    border: 1.5px solid rgba(255, 255, 255, 0.095);
    background-color: rgba(18, 18, 18, 0.4);
    height: 500px;
    width: 100%;
}

.chart-visual-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chart-select {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 4px;
}

.chart-controls {
    padding: 10px;
    gap: 20px;
    background-color: rgba(18, 18, 18, 0.4);
}

.container {
    background-color: rgb(30, 30, 30);
}

.select {
    color: rgb(241, 241, 241);
    padding: 1px;
    border: none;
    background-color: rgb(17, 144, 36);
    transition: all 0.2s ease;
}

.select:hover {
    background-color: rgb(15, 121, 31);
}

.chart-check-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-right: 20px;
}

.summary-container {
    padding: 10px;
    background-color: rgba(18, 18, 18, 0.4);
}

.header {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.header .month {
    font-weight: bold;
}

.header .title {
    font-weight: 800;
}


.summary-select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.summary-select #summary-list_checkbox {
    display: flex;
    gap: 5px;
}

.summary-main-item-container {
    display: flex;
    flex-direction: column;
    margin-top: 6px;
    gap: 10px;
}

.summary-item-wrapper {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 5px;
    border: 1px solid rgba(17, 144, 36, 0.275);
    background-color: rgba(17, 144, 36, 0.02);
    transition: all 0.28s ease;
}

.summary-item-wrapper:hover {
    background-color: rgba(119, 255, 139, 0.045);
    padding: 10px;
    font-size: 17px;
}



.summary_label {
    border-radius: 8px;
    padding: 5px;
    align-self: flex-start;
    border: 0.1px solid rgba(255, 255, 255, 0.275);
    width: fit-content;
}

.summary-flow-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.summary-before,
.summary-after {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.summary-item-month {
    color: rgb(184, 255, 184);
    opacity: 0.8;
}





.minus {
    color: red;
}

.positive {
    color: green;
}

.checkbox {
    accent-color: rgb(0, 128, 0);
}

@media (max-width: 768px) {
    #main-container {
        width: 100%;
    }

    .chart-container {
        padding: 5px;
    }

    .canvas {
        height: 300px;
    }

    .chart-check-box {
        gap: 20px;
        flex-direction: column;
        justify-content: flex-start;
    }

    .chart-check-box div {
        display: flex;
        flex-direction: column;
    }

    .chart-select {
        flex-direction: column;
        gap: 30px;
    }

    .chart-select #list-type {
        width: fit-content;
    }

    .list-select-container {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}