/* DISPLAY */
.display {
    background-color: rgb(30, 30, 30);
    padding: 20px;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.display>div {
    display: flex;
    flex-direction: row;
}

.display-title {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.display-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: large;
}

.display-income:hover {
    color: rgba(75, 192, 92, 1);
}

.display-expense:hover {
    color: rgba(255, 99, 132, 1);
}

.display-balance:hover {
    color: rgba(54, 162, 235, 1)
}

.display-percent {
    display: flex;
    justify-content: flex-end;
    gap: 3px;
}

/* DISPLAY END */


/* INPUT */
.input-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.input-container>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(35, 35, 35);
    padding: 15px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div-select {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.select {
    padding: 2px;
    text-align: center;
}

.div-input {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.input {
    width: 100%;
    padding: 3px 10px;
}

.btn {
    width: 100%;
    padding: 5px 0px;
}

.btn-del {
    border-radius: 5px;
    padding: 5px;
}

/* INPUT END */



/* LIST CONTAINER */
.list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}

.list-container>div {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(30, 30, 30);
    padding: 10px;
    gap: 15px;
}

.list-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.item-list>.div-data {
    background-color: rgba(128, 128, 128, 0.15);
    display: flex;
    padding: 7px;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}




/* LIST CONTAINER END */



.alert {
    color: rgba(255, 255, 255, 0.2);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.519);
}


@media (max-width: 768px) {
    .main-container {
        width: 100%;
        margin: 5px auto;
    }

    .display {
        flex-direction: column;
        gap: 10px;
        padding: 8px;
        width: 100%;
    }

    .display>div {
        display: flex;
        flex-direction: row;
    }

    .display-title {
        flex-direction: column !important;
        gap: 15px;
    }

    .display-item {
        font-size: medium;
    }

    .display-percent {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    .input-container {
        flex-direction: column;
        padding: 0px;
        gap: 10px;
    }

    .input-container>div {
        padding: 20px 5px;
        gap: 0px;
    }

    .input-container>div>.title {
        margin-bottom: 10px;
    }

    .div-select {
        gap: 4px;
    }

    .div-input {
        flex-direction: column;
        gap: 0px;
    }

    .list-container {
        flex-direction: column;
        gap: 10px;
    }

    .btn {
        padding: 3px 5px;
    }

    .select {
        padding: 2px 0px;
    }
}